<a href="https://colab.research.google.com/github/kundalemegha-max/A-B-testing-/blob/main/AB_testing_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df=pd.read_csv("AB_testing_data.csv")

In [3]:
df.head()

   Day   Conversion fraction A  Conversion fraction B
0     1                   0.15                   0.19
1     2                   0.12                   0.20
2     3                   0.18                   0.18
3     4                   0.19                   0.22
4     5                   0.17                   0.25

In [4]:
#X ---->continous data
#Y-----> categorical data
# one is continous and other is having 2 classes

In [5]:
df.shape

(35, 3)

In [6]:
df.describe()

            Day   Conversion fraction A  Conversion fraction B
count  35.000000              35.000000              35.000000
mean   18.000000               0.161429               0.191429
std    10.246951               0.034822               0.031729
min     1.000000               0.110000               0.110000
25%     9.500000               0.130000               0.175000
50%    18.000000               0.160000               0.190000
75%    26.500000               0.185000               0.200000
max    35.000000               0.230000               0.270000

In [7]:
# A = old feature
# B = new feature
sample_set_1= df['Conversion fraction A']
sample_set_2=df['Conversion fraction B']

In [8]:
stat, p = stats.ttest_ind(sample_set_1,sample_set_2)

In [9]:
p # b is having impact over a

np.float64(0.00034704350989135126)

In [10]:
if  p>0.05:
  print("Accept Null Hypothesis")

else:
  print("Reject Null Hypothesis")

Reject Null Hypothesis

In [11]:
import numpy as np
from scipy.stats import ttest_ind

Group_A = np.array([1,0,1,1,0,1,0,1,1,0])
Group_B = np.array([1,1,1,1,1,1,0,1,1,1])

t_stat,p_value=ttest_ind(Group_A,Group_B)
print("T_statistic:",t_stat)
print("p_value:",p_value)

alpha=0.05
if p_value<alpha:
  print("Reject Null Hypothesis -> Significant diffrence")

else:
  print("Accepet Null Hypothesis -> No significant diffrence")

T_statistic: -1.5666989036012806
p_value: 0.13459627440392596
Accepet Null Hypothesis -> No significant diffrence

In [12]:
#A/B testing for conversion rate (z_test is common)

from statsmodels.stats.proportion import proportions_ztest

success = np.array([50,65])
total = np.array([1000,1000])

z_stat,p_value = proportions_ztest(success,total)

print("z_stat:",z_stat)
print("p_value:",p_value)

z_stat: -1.440793230951582
p_value: 0.14964310637037262